/* Align container horizontally and set its space */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 960px;
    height: 960px;
    margin: 0 auto;
}

/* Insert every grid-item inside the container */
.grid-item {
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    border: 2px solid black;
}